<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <clear />
	  <add name="TPM" connectionString="Data Source=AMIT-LT93\SQLEXPRESS; Initial Catalog=TPM; User Id=sa; password=pctadmin$1234;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
	  <!--VED Industries Pages 1 to show and 0 to hide-->
	  <add key="VEDIndustries" value="1" />
    <!--VED Industries Pages 1 to show and 0 to hide-->
    <add key="AndonLogsEnabled" value="0" />
    <!--Kach Motors Andon 1 to show 0 to hide-->
    <add key="KachMotors" value="0" />
    <add key="HighwayPages" value="0" />
    <!--Aggregated Reports Message-->
    <add key="DynamicFlowReport" value="0" />
    <!--Aggregated Reports Message-->
    <add key="AggregatedReportsNote" value="" /> 
    <!--Dantal Hydraulics Pages 1 to show 0 to hide-->
    <add key="DantalHydraulicsPages" value="0" />
    <add key="ShowProductionandDownDataInVDG" value="1" />
    <!--Rexnords Pages 1 to show 0 to hide-->
    <add key="RexnordPages" value="0" />
    <!--RN Gupta Report-->
    <add key="RNGupta" value="0" />
    <!--PTA Pages 1 to show 0 to hide-->
    <add key="PTAPages" value="0" />
    <!--Precision Engg Pages 1 to show 0 to hide-->
    <add key="PrecisionEngPages" value="0" />
    <!--SKS Pages 1 to show 0 to hide-->
    <add key="SKSPages" value="0" />
    <!--Vulkan Machine Shop Pages 1 to show 0 to hide-->
    <add key="VulkanMachineShopPages" value="0" />
    <add key="VulkanMachineShopAndonInterval" value="10000" />
    <!--Multi-Tech Pages 1 to show 0 to hide-->
    <add key="MultiTechPages" value="0" />
    <!--Seyoon Reports 1 to show 0 to hide-->
    <add key="SeyoonReport" value="0" />
    <!--Tafe Chennai Pages 1 to show 0 to hide-->
    <add key="TAFEChennaiPages" value="0" />
    <!--KunAero Pages 1 to show 0 to hide-->
    <add key="KunAeroPages" value="0" />
    <!-- If energy module refer to TPM_EM Database set 1 else set 0-->
    <add key="EnergyModuleWithTPM_EM_DB" value="0" />
    <!-- PAMS Pages 1 to show 0 to hide-->
    <add key="PAMSPages" value="0" />
    <!--LnT Odisha Pages 1 to show 0 to hide-->
    <add key="LnTOdishaPages" value="0" />
    <!--AutoTech Pages 1 to show 0 to hide-->
    <add key="AutoTechPages" value="0" />
    <!--Wiproo Pages 1 to show 0 to hide-->
    <add key="WiproPages" value="0" />
    <!--Machine Connect Pages 1 to show 0 to hide-->
    <add key="MachineConnectPages" value="0" />
    <!--Operation History File Folder Path-->
    <add key="OperationHistoryFilePath" value="C:\Program Files (x86)\MachineConnect\MachineConne" />
    <!--Denso Pages 1 to show 0 to hide-->
    <add key="DensoPages" value="0" />
    <!--Hawkins Pages 1 to show 0 to hide-->
    <add key="HawkinsPages" value="0" />
    <!--RTPL Pages 1 to show 0 to hide-->
    <add key="RTPLPages" value="0" />
    <!--Ace Designers Pages 1 to show 0 to hide-->
    <add key="AceDesignersPage" value="0" />
    <!-- Down Report DataLabel Orientation: Verticle - 1, Horizontal - 0-->
    <add key="ExcelChartDataLabelOrientation" value="1" />
    <!-- Live Report Date Interval in Days-->
    <add key="LiveReportDateInterval" value="30" />
    <!--SSWL Pages 1 to show 0 to hide-->
    <add key="SSWLPages" value="0" />
    <!--Allied Pages 1 to show 0 to hide-->
    <add key="AlliedPages" value="0" />
    <!-- Bajaj Pages 1 to show 0 to hide-->
    <add key="BajajPages" value="0" />
    <!-- Cumi Pages 1 to show 0 to hide-->
    <add key="CumiPages" value="0" />
    <!-- Leonine Pages 1 to show 0 to hide-->
    <add key="LeoninePages" value="0" />
    <!-- Leonine Pages 1 to show 0 to hide-->
    <add key="PoojaPages" value="0" />
    <!--Advik 184 Pages 1 to show 0 to hide-->
    <add key="Advik184Pages" value="0" />
    <!-- COP: Min LUL Threshold 1 to show 0 to hide-->
    <add key="MinLULThreshold" value="0" />
    <!-- Live Down Time Dashboard Interval in Days-->
    <add key="LiveDownTimeDashboardInterval" value="31" />
    <!--Software Version Warning Message-->
    <add key="SoftwareVersionMsg" value="Warning: Mismatch between Package and DB Version." />
    <!-- Live Cockpit Date Interval in Days-->
    <add key="LiveCockpitDateInterval" value="7" />
    <!-- Agg. ProductionMachinewise OEE Report 1 to show 0 to hide-->
    <add key="AggProductionMachinewiseOEEReport" value="0" />
    <!--Application License 1 to show 0 to hide-->
    <add key="LicenseEnable" value="0" />
    <add key="LicensePopUpIntimation" value="5" />
    <!-- KTASpindle 1 to show 0 to hide-->
    <add key="KTASpindlePages" value="0" />
    <!-- Trelleborg 1 to show 0 to hide-->
    <add key="Trelleborg" value="0" />
    <!--Anjali Pages 1 to show 0 to hide-->
    <add key="AmararagaMangalPages" value="0" />
    <!--Anjali Pages 1 to show 0 to hide-->
    <add key="AnjaliPages" value="0" />
    <!--Mahindra and Mahindra Pages 1 to show 0 to hide-->
    <add key="MandMPages" value="0" />
    <!--Pradeep Metals Pages 1 to show 0 to hide-->
    <add key="PradeepMetalPages" value="0" />
    <!--Mahindra and Mahindra Mongo Connection string and DB name-->
    <add key="mongoDBConString" value="mongodb://localhost:27017" />
    <add key="mongoDBName" value="MandM" />
    <add key="MnMRefreshInterval" value="10" />
    <!--Report - Display Operator Name / OperatorID, Name to show  Operator Name, ID to show Operator ID-->
    <add key="OperatorInReport" value="ID" />
    <!--Confidental Pages 1 to show 0 to hide-->
    <add key="ConfidentalPage" value="0" />
    <!--Kiswok Pages 1 to show 0 to hide-->
    <add key="KiswokPage" value="0" />
    <!-- enter 1 to enable windows authentication, 0 to sql server authentication  -->
    <add key="WindowAuthenticationForLoginPage" value="0" />
    <!-- auto refresh of Ionic View, Table View and Hourly Tracking Page in second 1000 equal 1 second -->
    <add key="AutoRefresh" value="60000" />
    <!-- Cycle Analytics GridView Page Size -->
    <add key="PageSize" value="100" />
    <!--Web Andon perpose-->
    <add key="RotatingPlant" value="0" />
    <!--Web Andon purpose-->
    <add key="FinishedComponent" value="1" />
    <!-- 1-CommanAndon ,2-BOSCH_ANDON-->
    <add key="Company" value="1" />
    <!--Bosch Pages 1 to show 0 to hide-->
    <add key="BOSCHPages" value="0" />
    <!--IndiaNippon Pages 1 to show 0 to hide-->
    <add key="IndiaNippon" value="0" />
    <!--IndiaNipponFlip min val 10 -->
    <add key="IndiaNipponFlip" value="10" />
    <!--IndiaNipponRefresh min val 10 -->
    <add key="IndiaNipponRefresh" value="10" />
    <!--Tafe Pages 1 to show 0 to hide-->
    <add key="TAFEPages" value="0" />
    <!--Globe Pages 1 to show 0 to hide-->
    <add key="GlobePages" value="0" />
    <!--UserAccessEshopxHelpReq Pages 1 to show 0 to hide-->
    <add key="UserAccessEshopxHelpReq" value="1" />
    <!--UserAccessEshopx Pages 1 to show 0 to hide-->
    <add key="UserAccessEshopx" value="1" />
    <!--Shanti Iron Pages 1 to show 0 to hide-->
    <add key="ShantiIronPages" value="0" />
    <!--Globe Pages 1 to show 0 to hide-->
    <add key="PatelbrassPages" value="0" />
    <!--Vibration Pages 1 to show 0 to hide-->
    <add key="VibrationPages" value="0" />
    <add key="VibrationParameterEnable" value="0" />
    <!--Sona Pages 1 to show 0 to hide-->
    <add key="sonapages" value="0" />
    <!--Advik Pages 1 to show 0 to hide-->
    <add key="AdvikPages" value="0" />
    <!--please add cell as phanton if changed cell id change here-->
    <add key="ShanthiCell" value="Phantom" />
    <!--Alert Pages  1 to show 0 to hide-->
    <add key="AlertPages" value="0" />
    <!--GEA Pages 1 to show 0 to hide-->
    <add key="GEAPages" value="0" />
    <add key="GEAImagePath" value="C:\inetpub\wwwroot\Packing Photo" />
    <add key="GEAReportImagePath" value="C:\inetpub\wwwroot\Packing Photo" />
    <!--AAAPL Pages 1 to show 0 to hide-->
    <add key="AAAPL" value="0" />
    <!--Pages 1 to show 0 to hide-->
    <add key="MivinPages" value="0" />
    <!--Jagdev Pages 1 to show 0 to hide-->
    <add key="JagdevPage" value="0" />
    <!--Precesion Pages 1 to show 0 to hide-->
    <add key="PrecesionPage" value="0" />
    <!--Pitti Customer VDG Screen Changes 1 to show 0 to hide-->
    <add key="PittiPages" value="0" />
    <!--Jagdev ANDON Flip Interval-->
    <add key="JagadevaAndonFlipInterval" value="10000" />
    <!--For GEA Andon-->
    <add key="ProductionStatusRefreshInterval" value="10000" />
    <add key="Showshiftwisedatausingshift" value="1" />
    <add key="POPlantID" value="PLANT-1" />
    <!--value=1 to show value=0 to hide the MEMU -->
    <add key="ShowProcessParameterDashboard" value="0" />
    <add key="ShowProcessparameterconfig" value="0" />
    <add key="ShowEnergyDashboard" value="1" />
    <add key="ShowSpindleRuntimeChart" value="0" />
    <add key="ShowMachineconnect" value="0" />
    <!--Hourly Drill Down Enable-->
    <add key="HourlyLevelDrillDown" value="false" />
    <!--Add Default View PlantwiseView,MachinewiseView,ComponentwiseView,OperatorwiseView -->
    <add key="DefaultView" value="MachinewiseView" />
    <!--Third Level Drill Down Enable-->
    <add key="ShiftThirdLevelDrillDown" value="false" />
    <!--1 to show MOwiseReport or 0 to hide MOwiseReport-->
    <add key="ShowMOwiseReport" value="0" />
    <!--Mangal 1 to show 0 to hide-->
    <add key="Mangalreports" value="0" />
    <!--Celldefination 1 to show 0 to hide-->
    <add key="CellDefination" value="1" />
    <!--value=1 to show hytechreport value=0 to hide-->
    <add key="ShowHytechReport" value="0" />
    <!--Toolsequence 1 to show 0 to hide-->
    <add key="Toolsequence" value="0" />
    <!--PMT report value=1 to show value =0 to hide-->
    <add key="ShowPMTReport" value="0" />
    <!--value=1 to show ShowBoschEnergyReport value=0 to hide-->
    <add key="ShowFlowMeterReport" value="0" />
    <add key="SonaAndonTitle" value="Production Area Information" />
    <add key="SonaAndonFlipInterval" value="10000" />
    <add key="ShowMaxPPMType" value="8" />
    <!--Hourlytrackingcontainervalue 9 9 8 Hour format Container1,margin="505,-2" container2,margin="460,-60" and container3,margin="405,-66"-->
    <!--Hourlytrackingcontainervalue 12 12 0 Hour format Container1,margin="650,-2" container2,margin="495/540,-70" and container3,margin="0,-66"-->
    <!--Hourlytrackingcontainervalue 8 8 8 Hour format Container1,margin="470,-2" container2,margin="405,-60" and container3,margin="405,-66"-->
    <!--Hourlytrackingcontainervalue 10 10 4 Hour format Container1,margin="555,-2" container2,margin="500,-60" and container3,margin="220,-66"-->
    <!--value=CurrentMonth for current month ,value=LastMonth for last month value = yesterday for last date value = today for today-->
    <add key="DashboardDateTime" value="yesterday" />
    <add key="Container0" value="470" />
    <add key="Container1" value="405" />
    <add key="Container2" value="405" />
    <add key="Margin0" value="-2" />
    <add key="Margin1" value="-60" />
    <add key="Margin2" value="-66" />
    <!-- Shanti Andon Settings -->
    <add key="ShantiNoOfRows" value="8" />
    <add key="ShantiContentFontSize" value="19" />
    <add key="ShantiHeaderFontSize" value="20" />
    <add key="ShantiAndonFlipInterval" value="20000" />
    <!--1 to show SPC Web menu or 0 to hide-->
    <add key="ShowSPCWebMenu" value="0" />
    <!--Url for dedicated SPC Web module(must give Login Page Url)-->
    <add key="SPCWeb_Url" value="http://localhost/SPC/LoginPage.aspx" />
    <!-- Advik Help Request Report: value=1 to show AckByOpreratorTime and AckByOpreratorTimeFromTrigger column and value=0 to hide AckByOpreratorTime and AckByOpreratorTimeFromTrigger column-->
    <add key="AckByOpreratorTime" value="0" />
    <add key="AckByOpreratorTimeFromTrigger" value="0" />
    <!-- Advik Assembly Line Andon refresh time interval (in seconds) -->
    <add key="AssemblyLineAndonRefreshInterval" value="20" />
    <!--Shanti Final Inspection-->
    <add key="FolderPathForShantiFIPhantom" value="\\172.36.0.117\Kavya S B\ShantiExportFile\" />
    <add key="UsernameForShantiFIPhantom" value="kavyasb" />
    <add key="PasswordForShantiFIPhantom" value="feb$1234" />
    <add key="FolderPathForShantiFICompactX" value="\\172.36.0.117\Kavya S B\ShantiExportFile\" />
    <add key="UsernameForShantiFICompactX" value="kavyasb" />
    <add key="PasswordForShantiFICompactX" value="feb$1234" />
    <add key="MPIGatePath" value="\\AMIT-LT26\Kavya S B\ShantiExportFile\" />
    <add key="MPIGateUsername" value="kavyasb" />
    <add key="MPIGatePassword" value="nov$1234" />
    <!--Help Request-->
    <add key="HelpRequest" value="0" />
    <!--Energy Module-->
    <add key="EnergyModule" value="0" />
    <add key="EnergyAutoRefreshInterval" value="10" />
    <!--Vulkan Pages 1 to show 0 to hide-->
    <add key="VulkanPages" value="0" />
    <add key="VulkanMachineAndonInterval" value="10000" />
    <!--Generic Andon Screens 1 to show 0 to hide-->
    <add key="AndonCockpit" value="0" />
    <add key="ScheduleAndonKTA" value="0" />
    <add key="PoojaAndonMelting" value="0" />
    <add key="StoreAndon" value="0" />
    <!-- Enable DrawingNo Report-->
    <add key="EnableDrawingNoChangeHistoryReport" value="0" />
    <!--- MGTL Machine Rework Report 1 to show 0 to hide-->
    <add key="ShowMachineReworkReport" value="0" />
    <!--- Amaraja Machinewise Scrap Report Report 1 to show 0 to hide-->
    <add key="ShowMachinewiseScrapReport" value="0" />
    <!--- Harsha Report 1 to show 0 to hide-->
    <add key="HarshaReport" value="0" />
    <!--- Downtime Report - Owner column 1 to show 0 to hide-->
    <add key="ShowOwner" value="1" />
    <!---Cumi Process Parameter Dashboard Auto refresh interval (sec) -->
    <add key="CumiPPDashboardInterval" value="10" />
    <!---Cumi Production & Rejection  Auto refresh interval (sec) -->
    <add key="CumiProdAndRejInterval" value="10" />
    <!--Ace Schedule Username /PAssword-->
    <add key="AceScheduleUsername" value="ace" />
    <add key="AceSchedulePassword" value="mar$123" />
    <!---KTA Credential-->
    <add key="KTAUserName" value="" />
    <add key="KTAPassword" value="" />
    <!---GK Report 1 to show 0 to hide-->
    <add key="GKReport" value="0" />
    <!--Language for Program Transfer-->
    <add key="language" value="EN" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.8" debug="true" />
    <httpRuntime targetFramework="4.5" maxRequestLength="500000000" executionTimeout="9999" />
    <pages controlRenderingCompatibilityVersion="4.0" validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="SignIn.aspx" name=".ASPXFORMSAUTH" protection="All" timeout="1200" defaultUrl="Dashboard.aspx" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState timeout="1200" mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="SQLConnectionString" />
      </providers>
    </sessionState>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="500000000" />
      </requestFiltering>
    </security>
    <staticContent>
      <!--<mimeMap fileExtension=".json" mimeType="application/x-7z-compressed" />-->
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
    </staticContent>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="SignIn.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="B77A5C561934E089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0" />
    <!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
         to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
     -->
  </runtime>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="true" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <location path="SonaAndon/SonaAndon.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SonaAndon/SonaAndonSettings.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="GenericAndon/ProductionAndonNew.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="GenericAndon/AndonPage.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="GEA/Andon_GEA/HelpRequestProductionAndon.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <customErrors mode="Off" />
  </system.web>
  <system.net>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
           before trusting HTTPS certificates.  But this setting tends to not 
           be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  <uri>
    <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
         which is necessary for OpenID urls with unicode characters in the domain/host name.
         It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
</configuration>
<!--ProjectGuid: 5410EF58-C173-4042-8938-3291BC1CE84E-->