body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 15px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #000000;
    }

input, select, textarea {
    max-width: 280px;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.HeaderImage {
    flex: 1;
    float: left;
}

.headerRight {
    color: white;
    font-weight: 600;
    font-size: 16px;
    margin: 1px;
}

.border {
    border-radius: 25px;
    border: 0.5px solid #cccccc;
    background-color: white;
}

.inlineLabel {
    display: inline;
}
